{{ $repoURL := "https://github.com/dylantjb/kite-club" }}
{{ $profileImg := "/img/profile.png" }}

<section class="grid-container">
  {{ with .Get "repositories" }}
    {{ range $index, $repo := . }}
      <div class="grid-item">
        <img src="{{ $profileImg }}" alt="Profile Picture" class="profile-img">
        <h2>{{ $repo.name }}</h2>
        <p>{{ $repo.description }}</p>
        <a href="{{ $repoURL }}" target="_blank">View Repository</a>
      </div>
    {{ end }}
  {{ end }}
</section>
